/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/docker/nano-ci/nano-ci
/docker/nano-ci/*.nanoci
/docker/nano-ci/*.yml

# rspec failure tracking
.rspec_status

*.log
.vagrant
*.gem
*.key
vagrant/**/*.nanoci
